<div class="page-header">
  <%= link_to new_bus_line_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t "new_bus_line" %>
  <% end %>
  <h1><%= t "list_bus_line" %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t "route_name" %></th>
        <th><%= t "time_start_activity" %></th>
        <th><%= t "time_end_activity" %></th>
        <th><%= t "in_charge_unit" %></th>
        <th><%= t "ticket_fee" %></th>
        <th><%= t "description" %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @bus_lines) do |bus_line| %>
        <td><%= bus_line.name %></td>
        <td><%= bus_line.operating_from.strftime("%H:%M") %></td>
        <td><%= bus_line.operating_to.strftime("%H:%M") %></td>
        <td><%= bus_line.in_charge_unit %></td>
        <td><%= bus_line.ticket_fee %></td>
        <td><%= bus_line.description %></td>
        <td>
          <%= link_to bus_line, class: "btn btn-default" do %>
            <i class="fa fa-eye"></i> Show
          <% end %>
          <%= link_to edit_bus_line_path(bus_line), class: "btn btn-success" do %>
            <i class="fa fa-pencil-square"></i> Edit
          <% end %>
          <%= link_to bus_line, method: :delete, class: "btn btn-warning",
            data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i> Delete
          <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>

