<div class="page-header">
  <%= link_to bus_lines_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "back" %>
  <% end %>
  <%= link_to edit_bus_line_path(@bus_line), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    <%= t "edit" %>
  <% end %>
  <h1><%= @bus_line.name %></h1>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading"><%= t "detail_busline" %></div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt><%= t "route_name" %>:</dt>
        <dd><%= @bus_line.name %></dd>

        <dt><%= t "time_start_activity" %>:</dt>
        <dd><%= @bus_line.operating_from %></dd>

        <dt><%=  t "time_end_activity" %>:</dt>
        <dd><%= @bus_line.operating_to %></dd>

        <dt><%= t "in_charge_unit" %>:</dt>
        <dd><%= @bus_line.in_charge_unit %></dd>

        <dt><%= t "ticket_fee" %>:</dt>
        <dd><%= @bus_line.ticket_fee %></dd>

        <dt><%= t "description" %>:</dt>
        <dd><%= @bus_line.description %></dd>
      </dl>    
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading"><%= t "management_busline" %></div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th></th>
              <th><%= t "bus_route" %></th>
              <th><%= t "bus_time" %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= t "go" %></td>
              <td align="center">
                <%= link_to t("edit_bus_route"), @bus_route_di,
                  class: "btn btn-primary" %>
              </td>
              <td align="center"><%= link_to t("edit_bus_time"),
                bus_route_timetables_path(@bus_route_di), class: "btn btn-success" %>
              </td>
            </tr>
            <tr>
              <td><%= t "come" %></td>
              <td align="center">
                <%= link_to "Chinh sua lo trinh", @bus_route_ve,
                  class: "btn btn-primary" %>
              </td>
              <td align="center"><%= link_to "Chinh sua lich trinh",
                bus_route_timetables_path(@bus_route_ve), class: "btn btn-success" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: 500px;'></div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    <% if @hash.any? %>
      var markers = <%= raw @hash.to_json %>
      window.onload = function () {
        var mapOptions = {
            center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var infoWindow = new google.maps.InfoWindow();
        var lat_lng = new Array();
        var latlngbounds = new google.maps.LatLngBounds();
        for (i = 0; i < markers.length; i++) {
            var data = markers[i]
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            lat_lng.push(myLatlng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title
            });
            latlngbounds.extend(marker.position);
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    infoWindow.setContent(data.infowindow);
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
        map.setCenter(latlngbounds.getCenter());
        map.fitBounds(latlngbounds);

        //***********ROUTING****************//

        //Intialize the Path Array
        var path = new google.maps.MVCArray();

        // Intialize the Direction Service
        var service = new google.maps.DirectionsService();

        var bounds = new google.maps.LatLngBounds();

        <% @distances.each do |distance| %>
          var jsonData = <%= raw distance.route.to_json %>
          var path_encode = jsonData[0].overview_polyline.points;
          var path = google.maps.geometry.encoding.decodePath(path_encode);
          for (var i = 0; i < path.length; i++) {
              bounds.extend(path[i]);
          }
          
          var polyline = new google.maps.Polyline({
              path: path,
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 5,
              fillColor: '#FF0000',
              fillOpacity: 0.8,
              map: map
          });
          polyline.setMap(map);
        <% end %>
        map.fitBounds(bounds);
      }
    <% else %>
      defaultMap("map");
    <% end %>
  });
</script>
