<div class="page-header">
  <a class="btn btn-success" href="#" data-toggle="modal" data-target="#myModal">Add Time Table</a>
  <h1>Timetables#index</h1>
</div>
<%= render "add_timetable_modal" %>

<div id="table" class="table-editable">
  <span class="table-add glyphicon glyphicon-plus"></span>
  <table class="table" id="time-tables">
  <% @bus_route.list_bus_stations.each_with_index do |i, index| %>
    <% bus_station = @bus_stations.find{|bus_station| bus_station.id == i} %>
    <tr>
      <td class="bus-stop">
        <strong><%= bus_station.code %></strong>
      </td>
      <% if @matrix_node[index].present?%>
        <% @matrix_node[index].length.times do |j| %>
          <% node = @matrix_node[index][j] %>
          <td class="node-timetable">
            <% if node.arrival_time %>
              <p contenteditable="true" class="current-time"><%= node.arrival_time.strftime("%H:%M") %></p>
              <input type="hidden" value="<%= node.arrival_time.strftime("%H:%M") %>" class="time-arrival">
            <% else %>
              <p contenteditable="true" class="current-time"></p>
              <input type="hidden" value="" class="time-arrival">
            <% end %>
            <input type="hidden" value="<%= node.id %>" id="node-id-<%= node.id %>" class="node-id">
          </td>
        <% end %>
      <% end %>
    </tr>
   <% end %>
  </table>
</div>

<button id="create-btn" class="btn btn-primary" disabled="disabled">Create New Data</button>
<button id="save-btn" class="btn btn-success">Save Data</button>
<p id="export"></p>

<script>
  $('#save-btn').on('click', function(){
    var nodeChangeHash = {};
    var nodeNewHash = [];
    $("table#time-tables tr").each(function(){ 
        var tableData = $(this).find('td.node-timetable');
        var header = $(this).find('.bus-stop');
        tableData.each(function(){
          var node_id = $(this).find('.node-id').val();
          var time_arrival = $(this).find('.time-arrival').val();
          var current_time = $(this).find('.current-time').text().replace(/\n|\r/g, "");
          if(current_time != time_arrival){
            nodeChangeHash[node_id] = current_time
          }
        })
    });
    console.log(nodeChangeHash);
    $.post("timetables/update_nodes", {list_nodes: nodeChangeHash}, function(data) {
      window.location.reload();
    });
  })
</script>

<script>
$(document).ready(function(){
  var $TABLE = $('#table');
  var $BTN = $('#create-btn');
  var $EXPORT = $('#export');

  $('.table-add').click(function () {
    $('#time-tables tr').each(function(){
       $(this).append('<td contenteditable="true">12:00</td>');       
    })
    $('#save-btn').prop('disabled', true);
    $('#create-btn').prop('disabled', false)
  });

  $('.table-remove').click(function () {
    $(this).parents('tr').detach();
  });

  $('.table-up').click(function () {
    var $row = $(this).parents('tr');
    if ($row.index() === 1) return; // Don't go above the header
    $row.prev().before($row.get(0));
  });

  $('.table-down').click(function () {
    var $row = $(this).parents('tr');
    $row.next().after($row.get(0));
  });

  // A few jQuery helpers for exporting only
  jQuery.fn.pop = [].pop;
  jQuery.fn.shift = [].shift;

  $BTN.click(function () {
    var $rows = $TABLE.find('tr:not(:hidden)');
    var headers = [];
    var data = [];
    
    console.log($rows);
    // Get the headers (add special header logic here)
    $($rows).find('.bus-stop').each(function () {
      headers.push($(this).text().replace(/\n|\r/g, "").replace(/\s+/g, ''));
    });
    
    var myTableArray = [];
    $("table#time-tables tr").each(function() { 
        var arrayOfThisRow = [];
        var tableData = $(this).find('td');
        if (tableData.length > 0) {
          tableData.each(function() { arrayOfThisRow.push($(this).text().replace(/\n|\r/g, ""))});
          myTableArray.push(arrayOfThisRow);
        }
    });

    for(i=1; i < myTableArray[0].length; i++){
      var h = {};
      for(j=0; j < myTableArray.length; j++){
        h[headers[j]] = myTableArray[j][i];
      }
      data.push(h);
    }
    
    // Output the result
    $EXPORT.text(JSON.stringify(data));

    $.post("timetables", {list_nodes: data.slice(<%= @number_of_column %>)}, function(data) {
      window.location.reload();
    });
  });
})
</script>
