<tr class="bus_station" id="bus_station_<%= bus_station.id %>">
  <td><input type="checkbox" value="<%= bus_station.id %>" class="bus-station-checkbox"></td>
  <td><%= bus_station_counter + 1 %></td>
  <td><%= bus_station.code %></td>
  <td><%= bus_station.address %></td>
</tr>
