<div class="page-header">
  <%= link_to new_bus_station_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Thêm mới trạm dừng
  <% end %>
  <h1>Danh sách các trạm dừng</h1>
  <h2>Nhập trạm dừng</h2>

  <%= form_tag import_bus_stations_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Nhập" %>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" id="table-all-bus-station">
    <thead>
      <tr>
            <th>#</th>
            <th>Latitude</th>
            <th>Longtitude</th>
            <th>Name</th>
            <th>Address</th>
            <th>Title</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @bus_stations) do |bus_station| %>
            <td><%= bus_station.id %></td>
            <td><%= bus_station.latitude %></td>
            <td><%= bus_station.longitude %></td>
            <td><%= bus_station.name %></td>
            <td><%= bus_station.address %></td>
            <td><%= bus_station.title %></td>
            <td><%= link_to 'Show', bus_station %></td>
        <td><%= link_to 'Edit', edit_bus_station_path(bus_station) %></td>
        <td><%= link_to 'Destroy', bus_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>

<div style='width: 800px;'>
  <div id="map" style='width: 1200px; height: 800px;'></div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
