<div id="mySidenav" class="sidenav">
  <ul class="nav nav-tabs nav-justified nav-custom">
    <li class="active">
      <a data-toggle="tab" href="#list-route">
        <i class="fa fa-search"></i>
        <%= t "look_up_route" %>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#search-bus">
        <i class="fa fa-map-marker"></i>
        <%= t "search_bus" %>  
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="list-route" class="tab-pane fade in active">
      <div class="search-route" id="header">
        <input type="text" class="form-control">
      </div>
      <div class="list-group" id="bus-route-infomation">
        <% @bus_lines.each do |line| %>
          <%= link_to show_bus_line_path(line),
            remote: true, class: "list-group-item" do %>
            <h4 class="list-group-item-heading"><%= line.name %></h4>
            <h4 class="list-group-item-text"><%= line.description %></h4>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="search-bus" class="tab-pane fade">
      <div class="search-route">
        <input type="text" class="form-control" bus_stationholder="Start" id="start-point-txt">
        <input type="text" class="form-control" bus_stationholder="Finish" style="margin-top: 10px" id="end-point-txt">
        <div class="clear-fix">
          <input type="text" id="time" placeholder="Time" class="form-control" style="display: inline-block; width: 50%; margin-top: 10px">
          <a href="#" class="btn btn-success select-route" id="search-bus-btn" style="display: inline-block; margin-top: 10px">Search</a>
        </div>
      </div>
      <div class="list-group" id="list-group">
      </div>
    </div>
  </div>
</div>
  
<div id="home-map">My map will go here</div>

<script>
  window.onload = initialise();
  var timepicker = new TimePicker('time', {
    lang: 'en',
    theme: 'dark'
  });

  timepicker.on('change', function(evt) {
    var value = (evt.hour || '00') + ':' + (evt.minute || '00');
    evt.element.value = value;
  });
</script>
