$('#header').html("<%= j render 'bus_line_header' %>");
$('.list-group').html("<%= j render 'list_bus_stop' %>");

<% if @hash.any? %>
  var infowindow_markers = {};
  var markers = <%= raw @hash.to_json %>
  var mapOptions = {
      center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
      zoom: 10,
      mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("home-map"), mapOptions);
  var infoWindow = new google.maps.InfoWindow();
  var lat_lng = new Array();
  var latlngbounds = new google.maps.LatLngBounds();
  for (i = 0; i < markers.length; i++) {
      var data = markers[i]
      var myLatlng = new google.maps.LatLng(data.lat, data.lng);
      lat_lng.push(myLatlng);
      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: data.title,
          icon: "https://thumb.ibb.co/dJ6yQk/busstop.png"
      });
      latlngbounds.extend(marker.position);
      (function (marker, data) {
          google.maps.event.addListener(marker, "click", function (e) {
              infoWindow.setContent(data.infowindow);
              infoWindow.open(map, marker);
          });
      })(marker, data);
      infowindow_markers[data.id] = marker;
  }
  map.setCenter(latlngbounds.getCenter());
  map.fitBounds(latlngbounds);

  // Show select menu
  menuContextMap(map);
  //***********ROUTING****************//

  //Intialize the Path Array
  var path = new google.maps.MVCArray();

  // Intialize the Direction Service
  var service = new google.maps.DirectionsService();

  var bounds = new google.maps.LatLngBounds();

  <% @distances.each do |distance| %>
    var jsonData = <%= raw distance.route.to_json %>
    var path_encode = jsonData[0].overview_polyline.points;
    var path = google.maps.geometry.encoding.decodePath(path_encode);
    for (var i = 0; i < path.length; i++) {
        bounds.extend(path[i]);
    }
    
    var polyline = new google.maps.Polyline({
        path: path,
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 5,
        fillColor: '#FF0000',
        fillOpacity: 0.8,
        map: map
    });
    polyline.setMap(map);
  <% end %>
  map.fitBounds(bounds);
<% else %>
  defaultMap("home-map");
<% end %>

$('.marker-link').on('click', function () {
  var marker = infowindow_markers[$(this).data('markerid')];
  google.maps.event.trigger(marker, 'click');
});

<% if params[:bus_type].to_i.odd? %>
  var html_text = '<a class="btn btn-primary select-route" data-remote="true"' +
    'href="/home/show_bus_line/' + <%= @bus_line.id %> + '?bus_type=0">Luot Ve</a>'
  $('#select-route').html(html_text)
<% else %>
  var html_text = '<a class="btn btn-primary select-route" data-remote="true"' +
    'href="/home/show_bus_line/' + <%= @bus_line.id %> + '?bus_type=1">Luot Di</a>'
  $('#select-route').html(html_text)
<% end %>
