<div class="page-header">
  <%= link_to new_bus_route_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Bus route
  <% end %>
  <h1>Listing bus_routes</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Type</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @bus_routes) do |bus_route| %>
        <td><%= bus_route.bus_type %></td>
        <td><%= link_to 'Show', bus_route %></td>
        <td><%= link_to 'Edit', edit_bus_route_path(bus_route) %></td>
        <td><%= link_to 'Destroy', bus_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
