<div class="page-header">
  <%= link_to t("edit_bus_time"), bus_route_timetables_path(@bus_route), class: "btn btn-success" %>
  <%= link_to bus_routes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "back" %>
  <% end %>
  <h1>
    <%= @bus_line.name %>
    <% if @bus_route.di? %>
      (Lượt đi)
    <% else %>
      (Lượt về)
    <% end %>
  </h1>
</div>

<input type="hidden" id="bus-route-id" data-id="<%= @bus_route.id %>">
<div class="container">
  <div class="row">
    <div class="col-md-6 paddingbottom">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t "bus_route_infomation" %></h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt><%= t "route_name" %>:</dt>
            <dd><%= @bus_line.name %></dd>

            <dt><%= t "luot" %>: </dt>
            <% if @bus_route.di? %>
              <dd>đi</dd>
            <% else %>
              <dd>về</dd>
            <% end %>

            <dt><%= t "time_start_activity" %>:</dt>
            <dd><%= @bus_line.operating_from.strftime("%H:%M") %></dd>

            <dt><%=  t "time_end_activity" %>:</dt>
            <dd><%= @bus_line.operating_to.strftime("%H:%M") %></dd>

            <dt><%= t "in_charge_unit" %>:</dt>
            <dd><%= @bus_line.in_charge_unit %></dd>

            <dt><%= t "ticket_fee" %>:</dt>
            <dd><%= @bus_line.ticket_fee %></dd>

            <dt><%= t "start_bus_station" %>:</dt>
            <dd><%= @bus_stations.first.address %></dd>

            <dt><%= t "end_bus_station" %>:</dt>
            <dd><%= @bus_stations.last.address %></dd>
          </dl>    
        </div>
      </div>
    </div>
    <div class="col-md-6 paddingbottom">
      <div style='width: auto;'>
        <div id="map" style='width: auto; height: 400px;'></div>
      </div>
    </div>
    <div class="col-md-6 paddingbottom">
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-primary" id="btn-add-bus-stations-routes">
            <%= t "add_bus_station" %>
          </button>
        </div>
      </div>
      <div class="table-responsive paddingtop">
        <table id="table-bus-station" class="display select">
          <thead>
            <tr>
              <th></th>
              <th>#</th>
              <th><%= t "code_bus_station" %></th>
              <th><%= t "address" %></th>
            </tr>
          </thead>

          <tbody>
            <%= render @another_bus_stations %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 paddingbottom">
      <div class="row">
        <div class="col-md-8">
          <input type="button" id="move-up" class="btn btn-default" value="<%= t "up" %>">
          <input type="button" id="move-down" class="btn btn-default" value="<%= t "down" %>">
          <input type="button" id="save-added-bus-station" class="btn btn-success" value="<%= t "save" %>">
        </div>
        <div class="col-md-4">
          <%= button_tag type: :submit, class: "btn btn-danger pull-right",
            id: "btn-delete-bus-stations-routes" do %>
            <i class="gi gi-remove_2"></i> <%= t "delete_bus_station" %>
          <% end %>
        </div>
      </div>
      <div class="table-responsive paddingtop">
        <table class="display select" id="table-added-bus-station">
          <thead>
            <tr>
              <th></th>
              <th>#</th>
              <th><%= t "code_bus_station" %></th>
              <th><%= t "address" %></th>
            </tr>
          </thead>

          <tbody>
            <% counter = 0 %>
            <% @bus_stations.each do |bus_station| %>
              <%= render bus_station, bus_station_counter: counter %>
              <% counter = counter + 1 %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

$(document).ready(function(){
  <% if @hash.any? %>
    var markers = <%= raw @hash.to_json %>
    window.onload = function () {
      var mapOptions = {
          center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map"), mapOptions);
      var infoWindow = new google.maps.InfoWindow();
      var lat_lng = new Array();
      var latlngbounds = new google.maps.LatLngBounds();
      for (i = 0; i < markers.length; i++) {
          var data = markers[i]
          var myLatlng = new google.maps.LatLng(data.lat, data.lng);
          lat_lng.push(myLatlng);
          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: data.title
          });
          latlngbounds.extend(marker.position);
          (function (marker, data) {
              google.maps.event.addListener(marker, "click", function (e) {
                  infoWindow.setContent(data.infowindow);
                  infoWindow.open(map, marker);
              });
          })(marker, data);
      }
      map.setCenter(latlngbounds.getCenter());
      map.fitBounds(latlngbounds);

      //***********ROUTING****************//

      //Intialize the Path Array
      var path = new google.maps.MVCArray();

      // Intialize the Direction Service
      var service = new google.maps.DirectionsService();

      var bounds = new google.maps.LatLngBounds();

      <% @distances.each do |distance| %>
        var jsonData = <%= raw distance.route.to_json %>
        var path_encode = jsonData[0].overview_polyline.points;
        var path = google.maps.geometry.encoding.decodePath(path_encode);
        for (var i = 0; i < path.length; i++) {
            bounds.extend(path[i]);
        }
        
        var polyline = new google.maps.Polyline({
            path: path,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 5,
            fillColor: '#FF0000',
            fillOpacity: 0.8,
            map: map
        });
        polyline.setMap(map);
      <% end %>
      map.fitBounds(bounds);
    }
  <% else %>
    defaultMap("map");
  <% end %>
})
</script>
